.accordion-content.expanded {
    overflow-y: visible;
    max-height: fit-content;
}

.title-gradient {
    background: linear-gradient(45deg, #d44c9d, #A855F7, #00D4FF, #FFC777);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
/* Add other gradient fixes here as necessary */